NET "CLK_IN" LOC = L15 | IOSTANDARD = LVCMOS33;

## RS232 PORT
#Net RS232_RX LOC=A16;
#Net RS232_TX LOC=B16;

##
NET "GPIO_LEDS<0>"                  LOC = "U18" | IOSTANDARD = LVTTL;
NET "GPIO_LEDS<1>"                  LOC = "M14" | IOSTANDARD = LVTTL;
NET "GPIO_LEDS<2>"                  LOC = "N14" | IOSTANDARD = LVTTL;
NET "GPIO_LEDS<3>"                  LOC = "L14" | IOSTANDARD = LVTTL;

##
NET "PHY_RESET"                   LOC = "N4" | IOSTANDARD = LVCMOS33;   ## 36  ON U46

NET "GTXCLK" LOC = L12 | IOSTANDARD = LVCMOS33;
NET "TXEN" LOC = H15 | IOSTANDARD = LVCMOS33;
NET "TXER" LOC = G18 | IOSTANDARD = LVCMOS33;

NET "RXD[0]" LOC = G16 | IOSTANDARD = LVCMOS33;
NET "RXD[1]" LOC = H14 | IOSTANDARD = LVCMOS33;
NET "RXD[2]" LOC = E16 | IOSTANDARD = LVCMOS33;
NET "RXD[3]" LOC = F15 | IOSTANDARD = LVCMOS33;
NET "RXD[4]" LOC = F14 | IOSTANDARD = LVCMOS33;
NET "RXD[5]" LOC = E18 | IOSTANDARD = LVCMOS33;
NET "RXD[6]" LOC = D18 | IOSTANDARD = LVCMOS33;
NET "RXD[7]" LOC = D17 | IOSTANDARD = LVCMOS33;
NET "TXD[0]" LOC = H16 | IOSTANDARD = LVCMOS33;
NET "TXD[1]" LOC = H13 | IOSTANDARD = LVCMOS33;
NET "TXD[2]" LOC = K14 | IOSTANDARD = LVCMOS33;
NET "TXD[3]" LOC = K13 | IOSTANDARD = LVCMOS33;
NET "TXD[4]" LOC = J13 | IOSTANDARD = LVCMOS33;
NET "TXD[5]" LOC = G14 | IOSTANDARD = LVCMOS33;
NET "TXD[6]" LOC = H12 | IOSTANDARD = LVCMOS33;
NET "TXD[7]" LOC = K12 | IOSTANDARD = LVCMOS33;
NET "RXCLK" LOC = K15 | IOSTANDARD = LVCMOS33;
NET "TXCLK" LOC = K16 | IOSTANDARD = LVCMOS33;
NET "RXER" LOC = F18 | IOSTANDARD = LVCMOS33;
NET "RXDV" LOC = F17 | IOSTANDARD = LVCMOS33;
NET "MDC" LOC = F16 | IOSTANDARD = LVCMOS33;
NET "MDIO" LOC = N17 | IOSTANDARD = LVCMOS33;

#Timing
NET "CLK_IN" TNM_NET = "CLK_IN";
TIMESPEC TS_clk_in = PERIOD "CLK_IN" 125 MHz HIGH 50% INPUT_JITTER 80 ps;

#Define the clock period of the 125MHz RXCLK
NET "RXCLK" TNM_NET = RXCLK;
TIMESPEC TS_RXCLK = PERIOD "RXCLK" 125 MHz HIGH 33%;


#Define the  setup and hold times of RX data relative to RXCLK
INST "RXD<?>" TNM = "IN_GMII";
INST "RXDV"   TNM = "IN_GMII";
INST "RXER"   TNM = "IN_GMII";
TIMEGRP "IN_GMII" OFFSET = IN 2.5 ns VALID 3.0 ns BEFORE "RXCLK" RISING;

NET "TXER" TNM = "OUT_GMII";
NET "TXD[?]" TNM = "OUT_GMII";
NET "TXEN" TNM = "OUT_GMII";
NET "GTXCLK" TNM = "OUT_GMII";
# 25 ns constraint is for MII only
# REFERENCE_PIN constraint is for GMII bus skew analysis
TIMEGRP "OUT_GMII" OFFSET = OUT 25 ns AFTER "TXCLK" REFERENCE_PIN "GTXCLK";

